body {
    margin-left: 50px;
    color: white;
    background: linear-gradient(180deg, black, gray);
    font-size: medium;
}


h1 {
    color:red;
    font-weight: 100px;
    text-align: center;
    background-color: black;
    position: relative;
    animation-name: gradient;
    animation-duration: 4s;
}

h2 {
    color:white;
    background-color:black;
    text-align:left;
    padding-left: 25px;
}

ul ol {
    float: left;
} 

img {
    text-align: left;
    border-style: ridge;
    border-color: teal;
    border-radius: 100px; 
}

img:hover {
    transform: scale(1.25);
}

.list {
    display: inline-block;
}

@keyframes gradient {
    0%{
        background-color: black;
    }
    50% {
        background-color: gray;
    }
    100% {
        background-color: white;
    }
}