body {
    margin-left: 50px;
    color: white;
    background-color: slategray;
    font-size: medium;
}
p {
    float: right;
}

h1 {
    color:red;
    font-weight: 100px;
    text-align: center;
    background-color: black;
    position: relative;
}

h2 {
    color:blue;
    background-color: burlywood;
    text-align: center;
}

ul ol {
    float: right;
} */

li {
    float:right;
}
.images {
    text-align: left;
    border-style: ridge;
    border-color: teal;

}

/* img {
    border-color: black;
    box-shadow: slategray;
    border-style: solid 10px;
    float: left;
} */